
/* Classes page */




/* Schedule */

// Block 2

.schedule__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.schedule__grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(5, max-content);
  grid-template-areas:
    "day room teachers-header"
    "hours2 class2 teachers2"
    "hours2 class2 teachers2"
    "hours3 class3 teachers3"
    "hours3 class3 teachers3";
  margin-right: 2rem;
    p {
      font-size: 1.25rem;
      line-height: 1.25rem;
      margin: 0;
      padding: 0.25rem 0.5rem;
      text-align: center;
    }

    .header p {
      padding: 0.5rem;
    }

  .weekday {
    grid-area: day;
  }
  .room {
    grid-area: room;
  }
  .teachers-header {
    grid-area: teachers-header;
  }

  .weekday,
  .room,
  .teachers-header {
    background-color: $dark-blue;
    p {
      color: $white;
    }
  }

  .hours {
    border-right: dashed 2px $dark-blue;
    border-left: dashed 2px $dark-blue;
    border-bottom: solid 2px $dark-blue;
    p {
      text-align: left;
    }
  }
  .hours1 {
    grid-area: hours1;
  }
  .hours2 {
    grid-area: hours2;
  }
  .hours3 {
    grid-area: hours3;
  }
  .class {
    border-right: dashed 2px $dark-blue;
  }
  .class1 {
    grid-area: class1;
  }
  .class2 {
    grid-area: class2;
  }
  .class3 {
    grid-area: class3;
  }
  .teachers {
    border-right: dashed 2px $dark-blue;
  }
  .teachers1 {
    grid-area: teachers1;
  }
  .teachers2 {
    grid-area: teachers2;
  }
  .teachers3 {
    grid-area: teachers3;
  }

  .two-rows {
    display: flex;
    align-items: center;
  }

  .line-bottom {
    border-bottom: solid 2px $dark-blue;
  }
}

.dates__grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
      "header header"
      "months days"
      "months days"
      "months days";

  p {
    margin: 0;
    padding: 0.25rem 0;
  }
}

.dates__header {
  grid-area: header;
}

.dates__months {
  grid-area: months;
}

.dates__days {
  grid-area: days;
}

.dates-flex {
  display: flex;
  margin-top: 0.5rem;
  .days span {
    font-size: 1rem;
    color: $orange;
  }
  p {
    padding: 0;
  }

  .months {
    padding-right: 0.75rem;
  }
}



/* Levels */

.level-descriptions {

  p {
    margin: 0.5rem 0;
  }

  p.italic {
    font-size: 1rem;
  }

  ul {
    margin: 0.5rem 0;
    li {
        position: relative;
        left: 15px;
        margin-bottom: 0.25rem;
    }

    li::before {
      position: absolute;
      content: "";
      background-color: $orange;
      height: 3px;
      width: 7px;
      left: -10px;
      top: 9px;
    }
  }


  .solo {
    margin: 2rem 0;
  }

  .level {
    margin-top: 2rem;
  }

  .level:first-of-type {
    margin-top: 1rem;
  }

  a.semi-btn {
    text-decoration: underline;
    font-family: 'Din Next Pro Condensed', sans-serif;
    font-size: 1.5rem;
    color: $dark-blue;
    margin-top: 0.5rem;
    display: inline-block;
    // padding: 0 0.5rem;
    transition: background-color 300ms, color 200ms;
    &:hover {
      // color: $red;
      background-color: $orange;
    }
  }


}
