
/* Registration page */

.registration-page {
  ol {
    list-style: decimal;
    list-style-position: inside;

    li {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}

.registration__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;

  .btn:first-of-type {
    margin-right: 4rem;
  }

  .btn a {
    text-decoration: none;
  }

  .btn-blue a {
    color: $white;
  }

  .btn-blue:hover a {
    color: $sea-blue;
  }
}

/* Prices */

.prices__classes {
  margin-bottom: 2rem;
}

.prices__privates table {
  margin-bottom: 1rem;
}

/* Tables */

.table-wrapper {
  display: flex;
  justify-content: center;
}

table.prices {
  font-family: 'Din Next Pro Regular', sans-serif;
  font-size: 1.25rem;
  text-align: center;

  thead {
    font-weight: bold;
  }

  thead > tr > th:not(:first-of-type) {
    border-bottom: 2px solid black;
  }

  tbody > tr > td:first-of-type {
    text-align: right;
  }

  tr > td:nth-child(2),
  tr > th:nth-child(2) {
    border-right: 2px solid black;
  }

  th, td {
    padding: 0.25rem 0.5rem;
  }
}

.disclaimers {
  margin-top: 0.5rem;
  p {
    text-align: right;
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
  }
  p:first-of-type {
    margin-bottom: 0.1rem;
  }
}


@media only screen and (max-width: 400px) {
  .prices .grid p {
    font-size: 1rem;
    padding: 0.15rem 0.25rem;
  }
}
