
/* Registration page */

.registration-page {
  ol {
    list-style: decimal;
    list-style-position: inside;

    li {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}
.registration__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;

  .btn:first-of-type {
    margin-right: 4rem;
  }
}
